services:
  redisdb:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - ./data/redisData:/data
  mysql:
    image: mysql:8.1.0
    environment:
      MYSQL_DATABASE: editor
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
