version: "3.3"
services:
  lightdance-editor-dev:
    image: lightdance-editor-dev
    container_name: lightdance-editor-dev
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
      - "8082:8082"
      - "4000:4000"
    volumes:
      - .:/app
      - /app/editor/node_modules
      - /app/editor-server/node_modules
      - /app/controller-server/node_modules
      - /app/file-server/node_modules
    environment:
      - MONGO_HOST=mongodb
      - REDIS_HOST=redisdb
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongodbData:/data/db
  redisdb:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redisData:/data
  postgresqldb:
    image: postgres
    environment:
      POSTGRES_DB: lightdance
      POSTGRES_USER: lightdance-user
      POSTGRES_PASSWORD: NTUEELightdance
      PGDATA: /var/lib/postgresql/data
    volumes:
      - ./pg/pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  pg-admin:
    image: dpage/pgadmin4
    # restart: always
    depends_on:
      - postgresqldb
    ports:
      - "5555:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: NTUEELightdance
    volumes:
      - ./pg/pgadmin-data:/var/lib/pgadmin
