version: "3.3"
services:
  web:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
      - ./asset:/app/asset
      - ./music:/app/music
      - "/etc/localtime:/etc/localtime:ro"
