<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Test Page for 清大解</title>
  </head>
  <body>
    <button id="sync" type="button">Sync</button>
    <button id="play" type="button">Play</button>
  </body>
  <script type="text/javascript">
    document.getElementById("sync").onClick = () => {
      console.log("Start sync ...");
      console.log("Current Time ");
    };
  </script>
</html>
