.animatedCircle {
  color: transparent;
  background: rgba(188, 237, 243, 0.5);
  animation: breathe 7s alternate infinite;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 150px rgba(122, 247, 132, 0.1), 0 0 0 20px rgba(122, 247, 132, 0.1), 0 0 0 450px rgba(122, 247, 132, 0.1), 0 0 0 600px rgba(122, 247, 132, 0.1), 0 0 0 750px rgba(122, 247, 132, 0.1);
  }

  50% {
    box-shadow: 0 0 0 250px rgba(122, 247, 132, 0.1), 0 0 0 500px rgba(122, 247, 132, 0.1), 0 0 0 750px rgba(122, 247, 132, 0.1), 0 0 0 1000px rgba(122, 247, 132, 0.1), 0 0 0 1250px rgba(122, 247, 132, 0.1);
  }

  100% {
    box-shadow: 0 0 0 150px rgba(122, 247, 132, 0.1), 0 0 0 300px rgba(122, 247, 132, 0.1), 0 0 0 45px rgba(122, 247, 132, 0.1), 0 0 0 600px rgba(122, 247, 132, 0.1), 0 0 0 750px rgba(122, 247, 132, 0.1);
  }
}

.animatedColor {
  animation: 3s infinite alternate ease-out breathing-color;
}

@keyframes breathing-color {
  from {
    background-color: hsl(147, 75%, 70%);
  }

  to {
    background-color: hsl(147, 75%, 40%);
  }
}